<div class="service1-container padding-y-4 bg-base-lightest">

  <!-- Results table - it hides when there are no results -->
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <aside class="usa-layout-docs__sidenav desktop:grid-col-3">
        <div class="tablet:grid-col">
          <div class="card aside">
            <div class="card-content padding-1 text-base-darkest">
              <h1>Clients</h1>
              <p>Lorem ipsum dolor sit amet, consectetur sem ta adipiscing elit. Fusce lel ullamcorper accumsan sem ut blandit.</p>
              <p>Aliquam a vestibulum sa.</p>
            </div>
            <div class="card-image bg-primary-lighter">
              <img src="assets/uswds-2.0.2/img/mediabarn/card-decoration-1.png" alt="Clients Card Decoration Image" />
            </div>
          </div>
        </div>
      </aside>

      <div *ngIf="Customer.length !== 0" class="usa-layout-docs__main tablet:grid-col-9 usa-prose">
        <div class="grid-container padding-x-0">
          <div class="grid-row grid-gap">
            <div *ngFor="let customer of Customer" class="tablet:grid-col-4">
              <div class="card">
                <div class="card-content text-base-darkest">
                  <h3>{{customer.name}}</h3>
                  <p>
                    <span class="sub-title">Customer Info</span><br>
                    ID: {{customer.id}}<br>
                    Account: {{customer.pesel}}<br>
                    Type: {{customer.type}}
                  </p>
                  <a href="https://www.gsa.gov/">View Website</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>