<div class="settings-page">
  <section class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8 margin-auto">

        <h1 class="text-xs-center">Your Settings</h1>

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <legend>Edit/Update Settings:</legend>
              <input class="form-control"
                type="text"
                placeholder="URL of profile picture"
                formControlName="image" />
            
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                formControlName="username" />
            
              <textarea class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
                formControlName="bio">
              </textarea>
            
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                formControlName="email" />
            
              <input class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
                formControlName="password" />
            </fieldset>

            <button class="usa-button"
              type="submit">
              Update Settings
            </button>

          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr />

        <button class="usa-button usa-button--outline"
          (click)="logout()">
          Or click here to logout.
        </button>

      </div>
    </div>
  </section>
</div>
