<div class="service-results-page padding-top-2 padding-bottom-5">

  <!-- Results table - it hides when there are no results -->
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-12 text-right padding-y-1">
        <!-- If only showing a single customer, show the 'Show All' option -->
        <a *ngIf="showAll" href="javascript:void(0);"
        class="font-sans-3xs margin-right-1"
        routerLink="/service2">Show All</a>
        <!-- Toggle grid/list view - If editing a record, hide List/Grid toggle and show cancel -->
        <a *ngIf="!selectedAccount" href="javascript:void(0);"
        class="font-sans-3xs list-grid-toggle"
        (click)="toggleList()">List/Grid</a>
        <!-- Cancel button removes edit view and reshows List/Grid toggle -->
        <a *ngIf="selectedAccount" href="javascript:void(0);"
        class="font-sans-3xs list-grid-toggle"
        (click)="onSelect()">Cancel</a>
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-3">
        <div class="card aside">
          <div class="card-content">
            <h1>Accounts</h1>
            <nav class="interior">
              <ul>
                <li>
                  <a href="#">Interior Link</a>
                </li>
                <li>
                  <a href="#">Interior Link</a>
                </li>
                <li>
                  <a href="#">Interior Link</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="card-image">
            <img src="assets/uswds-2.0.2/img/mediabarn/card-decoration-2.png" alt="Accounts Card Decoration Image" />
          </div>
        </div>
      </div>

      <div *ngIf="Accounts.length !== 0" class="tablet:grid-col-9 usa-prose position-relative">
        <div class="grid-container padding-x-0">
          <div class="grid-row grid-gap">
            <div *ngFor="let account of Accounts"
                    [ngClass]="{
                      'tablet:grid-col-12': list,
                      'tablet:grid-col-4': !list
                    }">
              <div class="card">
                <div class="card-content text-base-darkest">
                  <h3 (click)="getAccount(account)">Account #{{account.id}}</h3>
                  <a href="javascript:void(0);"
                  (click)="onSelect(account)"
                  class="font-sans-3xs"
                  [class.selected]="account === selectedAccount">edit</a>
                  <p>
                    <span class="sub-title">Account Info</span><br>
                    Pesel: {{account.pesel}}<br>
                    Number: {{account.number}}
                  </p>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedAccount" class="crudInterface z-top">
          <div class="page">
            <div class="page-content">
              <form class="usa-form crudForm">
                <fieldset class="usa-fieldset">
                  <legend class="usa-legend">
                    <h2>Update Account {{ selectedAccount.name }} Details:</h2>
                  </legend>
                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                      <label>ID: </label>
                      <input [(ngModel)] = "selectedAccount.id" placeholder="id" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="tablet:grid-col">
                      <label>Pesel: </label>
                      <input [(ngModel)] = "selectedAccount.pesel" placeholder="pesel" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </div>
                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                      <label>Number: </label>
                      <input [(ngModel)] = "selectedAccount.number" placeholder="number" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </div>
                  <div class="grid-row grid-gap">
                    <div class="grid-col-4"></div>
                    <div class="tablet:grid-col-2">
                      <button class="usa-button" (click)="onSelect()">Update</button>
                    </div>
                    <div class="tablet:grid-col-2">
                      <button class="usa-button" (click)="onSelect()">Cancel</button>
                    </div>
                    <div class="grid-col-4"></div>
                  </div>
                </fieldset>
              </form>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/uswds-2.0.2/img/mediabarn/card-decoration-1.png" alt="First Card Decoration Image" />
                    </div>
                    <div class="card-content text-base-darkest">
                      <h3>Card Title</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis ante eu turpis malesuada, eget posuere diam pretium.</p>
                      <button class="usa-button ">Card Button</button>
                    </div>
                  </div>
                </div>
                <div class="tablet:grid-col">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/uswds-2.0.2/img/mediabarn/card-decoration-3.png" alt="Third Card Decoration Image" />
                    </div>
                    <div class="card-content text-base-darkest">
                      <h3>Card Title</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis ante eu turpis malesuada, eget posuere diam pretium.</p>
                      <button class="usa-button ">Card Button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>