/** 
 * Form Element Overrides
 */
 form.usa-form {
    margin: auto;
    max-width: unset;
}

fieldset {
    border: none;
}
input, textarea {
    margin-bottom: 0.5em;
}

// Defines an absolutely positioned element for CRUD operations
.crudInterface {
    position: absolute;
    top: 0;
    width: calc(100% - 1rem);
    .crudForm {
        border: 1px solid color('base-light');
        margin-bottom: 1em;
        padding: 1em;
    }
    legend {
        margin-bottom: 1rem
    }
    label {
        display: inline-flex;
        min-width: 5.675rem;
    }
}
@media (min-width: 64em) {
    .crudInterface {
        position: absolute;
        top: 0;
        @include u-width(full);
    }
}