/**
 *  List Styles
 */
 ul {
    &.usa-nav__primary {
        list-style-type: none;
    }
    &.tag-list {
        padding-left: 0!important;
        display: inline-block;
        list-style: none!important;
        &li {
            display: inline-block!important
        }
    }
    &.clients {
        list-style-type: none;
        margin: 0 0 2rem 0;
        padding: 0;
        width: 100%;
    }
 }
