/**
 * Nav
 */
.usa-nav__primary {
  margin-bottom: unset;
  >.usa-nav__primary-item {
    >a {
      cursor: pointer;
      &.active {
        color: #005ea2;
      }
    }
  }
  button {
    padding: 1rem 0.5rem;
    @include u-text('white');
    &:focus,
    &:active,
    &:hover {
        border-bottom: 0.25rem solid $gsa-header-button-bg-hover-color;
        margin-bottom: -0.25rem;
        outline: none;
    }
  }
}
.usa-nav {
  &.is-visible {
    background: $gsa-header-bg-color;
  }
}

.usa-navbar {
  border: none;
  justify-content: space-between;
}

nav {
  &.interior {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 1rem 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .usa-header--basic {
    .usa-nav {
      padding: 0 0 0.25rem 0.5rem;
      width: 66%;
    }
  }

  .usa-nav__primary {
      button {
          @include u-text('base-dark');
          &:focus {
              outline: none;
          }
      }
   }
}
