/**
 * Nav
 */
.usa-nav__primary{
  margin-bottom: unset;
  >.usa-nav__primary-item {
    >a {
      cursor: pointer;
      &.active {
        color: #005ea2;
      }
    }
  }
}
.usa-nav {
  &.is-visible {
    background: $gsa-header-bg-color;
  }
}