<div class="service-results-page padding-top-2 padding-bottom-5">

  <!-- Results table - it hides when there are no results -->
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-12 text-right padding-y-1">
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-12 usa-prose position-relative">
        <div class="grid-container padding-x-0">
          <div class="page reg-form">
            <div class="page-content">
              <form class="usa-form crudForm">
                <fieldset class="usa-fieldset">
                  <legend class="usa-legend">
                    <h1>Register</h1>
                    <p>Your email address will be used as your User ID. Lorem ipsum doloar sit amet...</p>
                  </legend>
                  
                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                      <label><span class="required">*</span>Email Address</label><br />
                      <input placeholder="Email Address" />
                    </div>
                    <div class="tablet:grid-col">
                    </div>
                  </div>
                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                      <label><span class="required">*</span>First Name </label><br />
                      <input placeholder="First Name" />
                    </div>
                    <div class="tablet:grid-col">
                      <label><span class="required">*</span>Last Name </label><br />
                      <input placeholder="Last Name" />
                    </div>
                  </div>
                  <div class="grid-row grid-gap">
                    <div class="tablet:grid-col">
                      <label><span class="required">*</span>Password </label><br />
                      <input placeholder="Password" />
                    </div>
                    <div class="tablet:grid-col">
                      <label><span class="required">*</span>Verify Password </label><br />
                      <input placeholder="Verify Password" />
                    </div>
                  </div>
                  <div class="grid-row grid-gap">
                    <div class="grid-col-4"></div>
                    <div class="tablet:grid-col-4 text-center">
                      <button class="usa-button" (click)="onSelect()">Create Account</button>
                    </div>
                    <div class="grid-col-4"></div>
                  </div>
                </fieldset>
              </form>
              <!-- app-messages displays messages on the page in this location.
                    Currently not in use as of 07/24/2019.
                    Can be used to output useful information, alerts or other.
              -->
              <!-- <app-messages></app-messages> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>