<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        
        <!-- Okta -->
        <div id="okta-signin-container"></div>
        
        <div *ngIf="isAuthenticated">
          <p class="text-xs-center">
            <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
            <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
          </p>
          <app-list-errors [errors]="errors"></app-list-errors>
          <form class="usa-form" [formGroup]="authForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <legend>Account Information:</legend>
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="usa-input"
                  type="text"
                  *ngIf="authType == 'register'" />            
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="usa-input"
                  type="text" />            
                <input
                  formControlName="password"
                  placeholder="Password"
                  class="usa-input"
                  type="password" />
              </fieldset>
              <button class="usa-button" [disabled]="!authForm.valid" type="submit">
                {{ title }}
              </button>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
