ul {
    &.people {
        list-style-type: none;
        li {
            &:hover {
                cursor: pointer;
            }
            &.selected {
                font-weight: bold;
            }
        }
    }
}