<div class="authenticate-page padding-y-4 bg-base-lightest">

  <section class="grid-container">
    <div class="grid-row grid-gap">
      <aside class="usa-layout-docs__sidenav desktop:grid-col-3">
        <div class="tablet:grid-col">
          <div class="card border-top-05 border-secondary-dark">
            <div class="card-content padding-1 text-base-darkest">
              <h1>Login</h1>
              <p>Lorem ipsum dolor sit amet, consectetur sem ta adipiscing elit. Fusce lel ullamcorper accumsan sem ut blandit.</p>
              <p>Aliquam a vestibulum sa.</p>
            </div>
            <div class="card-image bg-primary-lighter">
              card image here
            </div>
          </div>
        </div>
      </aside>
      <div class="usa-layout-docs__main tablet:grid-col-9 usa-prose page">
        
        <div *ngIf="givenName">
          <h3>Welcome, {{givenName}}!</h3>
          <p>You have successfully logged in.</p>
          <button class="usa-button" (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!givenName">
          <h3>Please login</h3>
          <p>In order to see content that is protected by Okta, you must login.</p>
          <button class="usa-button" (click)="login()">Login</button>
        </div>

      </div>
    </div>
  </section>

</div>
