<div class="authenticate-page">

  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-12">
        
        <div *ngIf="givenName">
          <h2>Welcome, {{givenName}}!</h2>
          <p>You have successfully logged in.</p>
          <button (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!givenName">
          <h2>Please login</h2>
          <p>In order to see content that is protected by Okta, you must login.</p>
          <button (click)="login()">Login</button>
        </div>

      </div>
    </div>
  </section>

</div>
